################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.md
/.vs
/YG.Monitoring/bin/Debug/net8.0
/YG.Monitoring/obj
/YG.Monitoring/appsettings.json
/YG.Monitoring/appsettings.json
/YG.Monitoring/bin/Release/net8.0
/YG.Monitoring/Properties/PublishProfiles
/YG.Monitoring/appsettings.json
